@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

.name-fade {
    animation: animationFrames ease 2s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards; /*when the spec is finished*/
  }
  
  .hero-fade {
    animation: 3s ease 0s normal forwards 1 fadeIn;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    66% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes animationFrames {
    0% {
      opacity: 0;
      transform: translate(0px, -25px);
    }
    100% {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }